In [1]:
import pandas as pd
from scipy.stats import mannwhitneyu

In [30]:
def parse_table(full):
  bin_table = full[["pkg", "time", "approach"]]
  bin_table = bin_table.groupby("approach").agg(["mean", "std"]).round(3)
  # bin_table['CPU Consumption (pkg)'] = bin_table[('pkg', 'mean')].astype(str) + " $\pm$ "+ bin_table[('pkg', 'std')].astype(str)
  # bin_table = bin_table.drop(columns=[('pkg', 'mean'), ('pkg', 'std')])
  # bin_table["Execution Time (s)"] = (
  #     bin_table[("time", "mean")].astype(str)
  #     + " $\pm$ "
  #     + bin_table[("time", "std")].astype(str)
  # )
  # bin_table = bin_table.drop(columns=[("time", "mean"), ("time", "std")])
  return bin_table

## Binary case

In [14]:
manila = pd.read_csv("../execution_time_eval/manila_binary/measures.csv")
our = pd.read_csv("../execution_time_eval/our_approach_binary/measures.csv")
aequitas = pd.read_csv("../execution_time_eval/aequitas_binary/measures.csv")
manila_time = pd.read_fwf("../execution_time_eval/manila_binary/times.txt", header=None)
manila["time"] = manila_time
our_time = pd.read_fwf(
    "../execution_time_eval/our_approach_binary/times.txt", header=None
)
our["time"] = our_time
aequitas_time = pd.read_fwf(
    "../execution_time_eval/aequitas_binary/times.txt", header=None
)
aequitas["time"] = aequitas_time
manila["approach"] = "Baseline"
aequitas["approach"] = "Aequitas"
our["approach"] = "Our approach"
full = pd.concat([manila, aequitas, our])

In [31]:
bin_table = parse_table(full)

In [32]:
bin_table

                       pkg                 time
                      mean           std   mean    std
approach
Aequitas      2.857494e+06  2.809346e+06  0.105  0.089
Baseline      1.112026e+07  1.555398e+07  0.520  0.723
Our approach  1.812770e+06  1.749259e+06  0.069  0.070

## All data

In [33]:
manila = pd.read_csv("../execution_time_eval/manila_full/measures.csv")
our = pd.read_csv("../execution_time_eval/our_approach_full/measures.csv")
manila_time = pd.read_fwf("../execution_time_eval/manila_full/times.txt", header=None)
manila["time"] = manila_time
our_time = pd.read_fwf(
    "../execution_time_eval/our_approach_full/times.txt", header=None
)
our["time"] = our_time
manila["approach"] = "Baseline"
our["approach"] = "Our approach"
full = pd.concat([manila, our])

In [34]:
parse_table(full)

                       pkg                 time
                      mean           std   mean     std
approach
Baseline      1.769408e+08  7.259604e+08  9.940  40.948
Our approach  2.513731e+06  8.561106e+06  0.119   0.399