In [1]:
import pandas as pd

def clean_data(df):
    # Change column type to object for column: 'SEX'
    df = df.astype({'SEX': 'int64'})
    # Rename column 'default.payment.next.month' to 'y'
    df = df.rename(columns={'default.payment.next.month': 'y'})
    # Replace all instances of 1 with 0 in column: 'SEX'
    df.loc[df['SEX'] == 1, 'SEX'] = 0
    # Replace all instances of 2 with 1 in column: 'SEX'
    df.loc[df['SEX'] == 2, 'SEX'] = 1
    return df

# Loaded variable 'df' from URI: c:\Users\giord\Progetti\python\bias\sensitive_variables_detection\data_preprocessing\raw_data\UCI_Credit_Card.csv
df = pd.read_csv(r'c:\\Users\\giord\\Progetti\\python\\bias\\sensitive_variables_detection\\data_preprocessing\\raw_data\\UCI_Credit_Card.csv')

df_clean = clean_data(df.copy())
df_clean.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,y
0,1,20000.0,1,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,1,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,1,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,1,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,0,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [3]:
df_clean.set_index('ID', inplace=True)

In [4]:
train, test = train_test_split(df_clean, test_size=0.2, random_state=42)

In [5]:
model = LogisticRegression()
model.fit(train.drop('y', axis=1), train['y'])

c:\Users\giord\miniconda3\envs\bias\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [6]:
pred = model.predict(test.drop('y', axis=1))

In [10]:
model.score(test.drop('y', axis=1), test['y'])

0.7811666666666667

In [11]:
train['y'].value_counts()

0    18677
1     5323
Name: y, dtype: int64

In [12]:
test['y'].value_counts()

0    4687
1    1313
Name: y, dtype: int64