In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('raw_data/nls/default.csv')

In [5]:
data.isna().any()[data.isna().any() == True]

Series([], dtype: bool)

In [8]:
print(pd.Series(data.columns))

0           SCH_STATUS_1997.01
1           SCH_STATUS_1997.02
2           SCH_STATUS_1997.03
3           SCH_STATUS_1997.04
4           SCH_STATUS_1997.05
                 ...
1501    TRAINING_CURFLAG.04.13
1502    TRAINING_CURFLAG.05.11
1503     TRAINING_CURFLAG.06.8
1504     TRAINING_CURFLAG.07.5
1505     TRAINING_CURFLAG.08.3
Length: 1506, dtype: object

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8984 entries, 0 to 8983
Columns: 1506 entries, SCH_STATUS_1997.01 to TRAINING_CURFLAG.08.3
dtypes: int64(1506)
memory usage: 103.2 MB

In [10]:
cols_2001 = [col for col in data.columns if '2001' in col]
data_2001 = data[cols_2001]

In [11]:
data_2001

,SCH_STATUS_2001.01,SCH_STATUS_2001.02,SCH_STATUS_2001.03,SCH_STATUS_2001.04,SCH_STATUS_2001.05,SCH_STATUS_2001.06,SCH_STATUS_2001.07,SCH_STATUS_2001.08,SCH_STATUS_2001.09,SCH_STATUS_2001.10,...,INCARC_STATUS_2001.03,INCARC_STATUS_2001.04,INCARC_STATUS_2001.05,INCARC_STATUS_2001.06,INCARC_STATUS_2001.07,INCARC_STATUS_2001.08,INCARC_STATUS_2001.09,INCARC_STATUS_2001.10,INCARC_STATUS_2001.11,INCARC_STATUS_2001.12
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,2,2,2,2,2,2,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8979,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
8980,2,2,2,2,2,2,2,2,2,6,...,0,0,0,0,0,0,0,0,0,0
8981,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
8982,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
8983,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0